body {
  background-color: #111;
  color: #fff;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
  padding: 20px;
}

header {
  margin-bottom: 20px;
}

h1 {
  font-size: 24px;
}

p {
  font-size: 14px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form {
  display: flex;
  margin-bottom: 20px;
}

input[type='text'] {
  flex: 1;
  padding: 10px;
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}

.loader {
  border: 8px solid rgba(255, 255, 255, 0.3);
  border-top: 8px solid #007bff;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
  margin: 20px auto;
}

.error-container {
  background-color: #c62828;
  padding: 10px;
  margin-top: 20px;
}

.response-container {
  background-color: #222;
  padding: 10px;
  margin-top: 20px;
}

.response-text{
  text-align: left;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
